.send{
    background-color: #F99D28;
    border: none;
    color: white;
    padding: 15px 80px;
    text-align: center;
display: block;
    border-radius: 5px 5px 5px 5px;
  
}
.comment{
    margin-inline: auto;
    text-align: right;
    margin-top: 10%;
    max-width: min-content;
}