<!-- <h1 mat-dialog-title>איך תרצה לקרוא לשאלון שלך? </h1>
<div mat-dialog-content>
    <p>אנחנו ממליצים על בחירת שם משקף וברור כדי שמשתתפים אחרים יוכלו להנות משאלון שיצרתם</p>
    <mat-form-field appearance="fill">
        <mat-label>שאלון1</mat-label>
        <input name="name" matInput [(ngModel)]="data.name" >
        <span *ngIf="error!=''">{{error}}</span>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">ביטול</button>
    <button mat-button cdkFocusInitial (click)="saveName()">שמור</button>
</div> -->