<div class="add-question">

    <div class="settings">
        <div class="level">
            <label>רמה</label>
            <div id="easy" class="triangle-up" (click)="level(1)"><label >קל</label></div>
            <div id="medium"  class="triangle-up" (click)="level(2)"><label >בינוני</label></div>
            <div id="Hard"  class="triangle-up" (click)="level(3)"><label >קשה</label></div>
           
        </div>
        <input type="file" value="הוסף תמונה" #imageInput type="file" accept="image/*"
            (change)="onSelectFile($event)" />
        <h6 *ngIf="notgoodimg">לא ניתן לקרוא. נא לבחור קובץ מסוג תמונה בלבד</h6>
        <img [src]="url" height="200" *ngIf="!notgoodimg"> 

        <button (click)="caterories=true">בחירת קטגוריות</button>
        <div *ngIf="caterories">
            <h5 *ngIf="enyCategory">יש לבחור לפחות קטגוריה אחת</h5>
            <app-cateroris-to-choose (chooseCategories)=" choose($event)"></app-cateroris-to-choose>
        </div>
        <button  (click)="addAnser()">הוסף תשובה נוספת</button>
        <button (click)=saveAndAnotherQuestion()> שמור והוסף שאלה</button>
     <button id="save" (click)=onlysave()>שמור</button>
    </div>
    <div class="Qustion">
        <label style="background-color: #128089;color: white;">שאלה: </label>
        <input type="text" #Qustion [(ngModel)]="newquestion.question1" />

        <div *ngFor="let in of arrnumansers ;let i = index">
            <label>תשובה {{i+1}}:</label>

            <input type="text" id="i" name="i" [(ngModel)]="arrnumansers[i].name" />
        </div>
        <label>תשובה נכונה:</label>
        <input type="number" [max]="numAnser" min="1" [(ngModel)]="currentanser" />
    </div>
</div>