
<div class="home">
   <div style="width: 35%;
   margin: 80px 180px;">
     <h2>hhhhhhhhhhhhhh</h2>
     <h3>hhhhhhhhhhh</h3>
     <div class="button-link">
      <button (click)="startGame()" style="background-color:  #53b2f154" >כניסה למשחק</button>
      <button (click)="startOnlin()" style="background-color:  #F8D02D">כניסה לאונליין</button>
      <button style="background-color:  #F8D02D">אודות</button>
      <button (click)="newGame()" style="background-color:  #53b2f154" > הוסף משחק חדש</button>
</div></div>
</div>
<div>  <app-category ></app-category> </div>

 

<!-- <app-system-comments></app-system-comments> -->


<app-about></app-about>