<!-- סרגל ניווט -->
<div class="header-top"></div>

<img style="width: 10%; float: right;margin-right: 5%;"  routerLink="/home" src="././../assets/לוגו1.png">

<nav class="c-main-menu" aria-labelledby="mainmenulabel">

  <ul class="c-main-menu__list">
    <li ><a  id="1" routerLink="/home" class="c-main-menu__link"
        href="#" routerLinkActive="my_class">ראשי</a></li>
    <li  ><a id="2" routerLink="/game-online" routerLinkActive="my_class" (addplayer)="addplayer($event)" aria-current="page" class="is-magic-active c-main-menu__link" href="#"> כניסה לאונליין</a></li>
    <li ><a id="3" routerLink="/openGame" class="c-main-menu__link" href="#" routerLinkActive="my_class">התחל משחק</a></li>
    <li ><a id="4" routerLink="/choose-Question" class="c-main-menu__link" href="#" routerLinkActive="my_class">הוסף שאלון</a></li>
    <li ><a id="5"routerLink="/newGame" class="c-main-menu__link" href="#" routerLinkActive="my_class">משחק חדש</a></li>
    <li  ><a id="6" class="c-main-menu__link" href="#" routerLinkActive="my_class">אודות</a></li>
    <li ><a id="7" routerLink="/login" class="c-main-menu__link" href="#" routerLinkActive="my_class">אזור אישי</a></li>
    <li class="c-logo"> {{namePlayer}} 
     </li>
  </ul>
</nav>



<router-outlet></router-outlet>