
<div  class="winner-center">
    <div class="winraght">
        
        <div class="winGrupGame">
            <h2> הקבוצה המנצחת</h2>
            <h3>
                כיתה ד
                <img src="../../assets/גביע.png" />
            </h3>
        </div>
        <div class="winGame">
            <h2> השחקן המנצח</h2>
            <h3>
               יאיר כהן
                <img src="../../assets/גביע.png" />
            </h3>
        </div>
    </div>
    <div class="MyImg">
        <img src="../../assets/מדליה.png" />
    </div>
</div>