
<div class="game">
    <h1>{{CountQuestion-q.length+1}}/{{CountQuestion+1}}</h1>
    <h3 id="TIMER">{{Time}}</h3>
    <div>
        <h1 class="question"><i class="fa fa-question-circle-o" style="font-size:24px"></i> {{q1.question1}}</h1>
        <div class="card" *ngFor="let x of arrAnswer let i=index">
            <div id="{{ 'object' + i }}"  >
               <img  src={{imgAnswer[i]}}>
           
            <h2> {{x.anser}}</h2>
         </div>
    </div>

    <div id="NOTETIME">
        <button (click)="AddQuestion()">סיים שאלה</button>
    </div>
</div>