$color1:#157780;
$color2:#F99D28;
$color3:#F8D02D;
$color4:#858586;
$color5:#E8E7E7;
// #picther{
//     background-image:url("../../../assets/Photos/2.jpg") ;
//     background-position: center;
//     background-repeat: no-repeat;
//     width: 100%;
// }
#allPage{
    direction: rtl;
    text-align: center ;background-color: $color5;
    border-style: solid;
    border-color: $color4;
    border-width: 1px;
    border-radius:30px;
    width: 60%;
    margin-left: 19%;
}
.options{
    background-color: $color1;
    border:none;
    margin: 4px;
    height: 40px;
    width: 80px;
    margin-left: 12px;
}
#idUser{
    background-color:$color3;
    margin-right: 7px;
    padding: 5px;
    border-color: white;
    border-width: 0.5px;
    border-style: solid;
    width: 30px;
    height: 15px;
}
.questionClass{
    margin-top: 20ox;
    margin-bottom: 20px;
}
.level{
    margin: 5px;
}
.level1{
    background-color: $color3;
}
.level2{
    background-color: $color2;
}
.level3{
    background-color: $color1;
}
#checkboxv{
    border:none;
    background-color:none;
}
#checkboxv1{
    height: 40px;
    width: 40px;
    border-style: solid;
    border-radius: 0px;
    border-color: $color4;
    border-width: 0.25px;
    background-color: $color5;
    display: inline-block;
}

